.section-title {
    color: var(--primary-blue);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.3rem;
    color: var(--primary-blue);
    margin-bottom: 10px;
}