.main-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--primary-blue);
    text-align: center;
    margin-bottom: 15px;
}

.section-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-blue);
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--dark-grey);
    margin-bottom: 10px;
}
